*.pyc
*.o
*.swp
*.swo
tests/databases/alpha/*
!tests/databases/alpha/.holder
tests/databases/beta/*
!tests/databases/beta/.holder
tests/databases/gamma/*
!tests/databases/gamma/.holder
*.log
*.log.[0-9]
dropin.cache
.vimsession
twistd.pid
